@model DataTransferObjects.Filters.Concrete.CategoryFilter
<script src="~/Scripts/CustomSolutions/categoryFilterPartial.js"></script>
<div class="col-xs-6">
    @Html.LabelFor(x => x.TitleFilter)
    <br />
    @Html.EditorFor(x => x.TitleFilter, new { htmlAttributes = new { @class = "form-control" } })
</div>
<div class="col-xs-6">
    @Html.LabelFor(x => x.DescriptionFilter)
    <br />
    @Html.EditorFor(x => x.DescriptionFilter, new { htmlAttributes = new { @class = "form-control" } })
</div>
<div class="col-xs-11" style="padding-top: 5px;">
    @if (Model.PageNumber > 1)
            {
        <button id="page1Button" type="button" value="1" class="btn btn-default">1</button>
    }
    else
    {
        <button id="page1Button" type="button" value="1" class="btn btn-default" style="display: none;"></button>
    }
    <button id="prevPageButton" type="button" class="btn btn-default glyphicon glyphicon-chevron-left"></button>
    <button id="currentPageButton" type="button" class="btn btn-default" disabled="disabled">@Model.PageNumber</button>
    <button id="nextPageButton" type="button" class="btn btn-default glyphicon glyphicon-chevron-right"></button>
</div>
<div class="col-xs-1" style="padding-top: 5px;">
    <button id="FilterButton" type="button" class="btn btn-default">Filter</button>
</div>

<script>
    //This script cannot be extracted into a .js file because of the reference to the Model
    $(document).ready(function () {
        $("#page1Button").click(function () {
            filterCategories(1, 10);
        });
        $("#FilterButton").click(function () {
            filterCategories(1, 10);
        });
        $("#prevPageButton").click(function () {
            filterCategories(@Model.PageNumber -1, 10);
        });
        $("#nextPageButton").click(function () {
            filterCategories(@Model.PageNumber +1, 10);
        });
    });
</script>