@model CustomSolutionsViewModel
<script src="~/Scripts/showHideDiv.js"></script>
<script src="~/Scripts/customSolutionsPartial.js"></script>
<style>
    .categoryDropDownDiv {
    }
</style>
<div class="row borderedRow" style="padding-bottom: 10px;">
    @{Html.RenderPartial("CategoryFilterPartial", Model.CategoryFilter);}
</div>
<div class="row borderedRow">
    <div class="col-xs-12 col-lg-3">
        <h4>Category</h4>
    </div>
    <div class="col-xs-12 col-lg-6">
        <h4>Description of Category</h4>
    </div>
    <div class="col-xs-8 col-lg-2">
        <h4>Importance</h4>
    </div>
    <div class="col-xs-4 col-lg-1">
        <strong>Show/<br/>Hide</strong>
    </div>
</div>
<div class="row borderedRow" style="height: 70vh; overflow-y: scroll; overflow-x: hidden; padding-left: 15px;">
    @for (int i = 0; i < Model.Categories.Count; i++)
    {
        <div class="row borderedRow">
            @{
                string hiddenRowId = "hiddenRow_" + i;
                string shownRowId = "shownRow_" + i;
            }
            @Html.HiddenShowRowDiv(hiddenRowId, shownRowId, "this row again.")
            <div id="@shownRowId" class="col-xs-12 row">
                <div class="col-xs-12 col-lg-3">@Model.Categories[i].Title</div>
                @Html.HiddenFor(x => Model.Categories[i].Title)
                <div class="col-xs-12 col-lg-6">@Model.Categories[i].Description</div>
                @Html.HiddenFor(x => Model.Categories[i].Description)
                <div class="col-xs-8 col-lg-2" style="padding-top: 2px;">
                    @Html.EnumDropDownListFor(x => Model.Categories[i].Importance, new { @class = "form-control categoryDropDownDiv", data_categoryId = Model.Categories[i].Id, data_categoryName = Model.Categories[i].Title })
                </div>
                @Html.HiddenFor(x => Model.Categories[i].Importance)
                @Html.HiddenFor(x => Model.Categories[i].Id)
                @Html.HideRowButtonInColumnDiv(hiddenRowId, shownRowId)
            </div>
        </div>
                }
</div>