@model CustomSolutionsViewModel
<script src="~/Scripts/showHideDiv.js"></script>
<script src="~/Scripts/CustomSolutions/customSolutionsPartial.js"></script>
<div class="col-xs-12 row">
    <div class="col-xs-12">
        Select the Category for your organization if listed. Use other for unlisted ones and you will see the entire list of scales available.
        For each scale rate the importance for a successful candidate. Use the drop down menu for your ratings. For those rated Not Important you may want to click the Show/Hide button.
    </div>
    <br/>
    <div class="col-xs-12" style="padding-top: 12px;">After you have rated each scale, review your ratings to determine if the critical characteristics of a successful applicant are included.</div>
    <br/>
    <div class="col-xs-12" style="padding-top: 12px;">When finished, click 'Continue'.</div>
</div>
<div class="col-xs-12 row" style="padding: 0; margin-bottom: 10px;">
    @{Html.RenderPartial("CategoryFilterPartial", Model.Filter);}
</div>
<div class="col-xs-12 row borderedRow">
    <div class="col-xs-12 col-lg-3">
        <h4>Category</h4>
    </div>
    <div class="col-xs-12 col-lg-6">
        <h4>Description of Category</h4>
    </div>
    <div class="col-xs-8 col-lg-2">
        <h4>Importance</h4>
    </div>
    <div class="col-xs-4 col-lg-1">
        <strong>Show/<br />Hide</strong>
    </div>
</div>
<div class="col-xs-12 row" style="height: 55vh; overflow-y: scroll; overflow-x: hidden; padding: 0;">
    @for (int i = 0; i < Model.Categories.Count; i++)
    {
        <div class="col-xs-12 row borderedRow">
            @{
                string hiddenRowId = "hiddenRow_" + i;
                string shownRowId = "shownRow_" + i;
            }
            @Html.HiddenShowRowDiv(hiddenRowId, shownRowId, "this row again.")
            <div id="@shownRowId" class="col-xs-12 row">
                <div class="col-xs-12 col-lg-3">@Model.Categories[i].Title</div>
                @Html.HiddenFor(x => Model.Categories[i].Title)
                <div class="col-xs-12 col-lg-6">@Model.Categories[i].Description</div>
                @Html.HiddenFor(x => Model.Categories[i].Description)
                <div class="col-xs-8 col-lg-2" style="padding-top: 2px;">
                    @Html.EnumDropDownListFor(x => Model.Categories[i].Importance, new { @class = "form-control categoryDropDownDiv", data_categoryId = Model.Categories[i].Id, data_categoryName = Model.Categories[i].Title })
                </div>
                @Html.HiddenFor(x => Model.Categories[i].Importance)
                @Html.HiddenFor(x => Model.Categories[i].Id)
                @Html.HideRowButtonInColumnDiv(hiddenRowId, shownRowId)
            </div>
        </div>
                }
</div>