@model CustomSolutionsViewModel
@{
    ViewBag.Title = "Custom Solutions";
}
<script src="~/Scripts/CustomSolutions/index.js"></script>
@using (Html.BeginForm("Index", "CustomSolutions", FormMethod.Post, new { id = "CustomSolutionsIndexForm"}))
{
    <div class="row">
        <div class="col-xs-9 col-md-11">
            <h2>Job Analysis</h2>
        </div>
        <div class="col-xs-3 col-md-1">
            @Html.CollapseButton("jobAnalysisInstructionsDiv")
        </div>
    </div>
    <div id="jobAnalysisInstructionsDiv">
        @{
            Html.RenderPartial("FormInstructionsContentPartial");
        }
    </div>
    <br />

    <div class="row">
        <div class="col-xs-9 col-md-11">
            <h2>Required Information</h2>
        </div>
        <div class="col-xs-3 col-md-1">
            @Html.CollapseButton("contactAndCompanyInfoDiv")
        </div>
    </div>
    <div id="contactAndCompanyInfoDiv">
        @{
            Html.RenderPartial("ContactAndCompanyInfoPartial", Model);
        }
    </div>
    <br />

    <div class="row">
        <div class="col-xs-9 col-md-11">
            <h2>Choosing the Critical Scales</h2>
        </div>
        <div class="col-xs-3 col-md-1">
            @Html.CollapseButton("CategoryListDiv")
        </div>
    </div>
    <div id="CategoryListDiv">
        @Html.Partial("CustomSolutionsPartial", Model)
    </div>
    <div style="clear: both;">
        <button class="btn btn-primary pull-left" type="button" style="display: none" id="BackButton">Back</button>
        <div class="pull-left">
            @Html.ValidationSummary(true)
            <span class="field-validation-error" style="display: none;" id="notEnoughCrits">Please select at least 3 critical scales.<br /></span>
            <span class="field-validation-error" style="display: none;" id="notEnough">Please choose 1 - 9 important scales.<br /></span>
        </div>
        <div class="pull-right" style="display: none;">@Html.SubmitButton("Finish")</div>
        <button class="btn btn-primary pull-right" type="button" id="ContinueButton">Continue</button>
    </div>
}