@model CustomSolutionsViewModel
@{
    ViewBag.Title = "Custom Solutions";
}
<script src="~/Scripts/showHideDiv.js"></script>
<script src="~/Scripts/CustomSolutions/index.js"></script>
@using (Html.BeginForm("Index", "CustomSolutions", FormMethod.Post, new { id = "CustomSolutionsIndexForm" }))
{
    @Html.ValidationSummary(true)
    string hiddenFormInstructionsDivId = "hiddenFormInstructionsDiv";
    string shownFormInstructionsDivId = "shownFormInstructionsDiv";
    <div class="row borderedRow">
        <div class="panel panel-head">
            <div class="col-xs-11"><h2>Job Analysis</h2></div>
            @Html.HiddenShowRowDiv(hiddenFormInstructionsDivId, shownFormInstructionsDivId, "the instructions again")
        </div>
        <div class="row" id="@shownFormInstructionsDivId">
            <div class="col-xs-11">Explanation of form and what it is supposed to accomplish.</div>
            @Html.HideRowButtonInColumnDiv(hiddenFormInstructionsDivId, shownFormInstructionsDivId)
        </div>
    </div>
    <div class="row borderedRow">
        @Html.HiddenShowRowDiv("collapsedCompanyAndContactInfo", "contactAndCompanyInfo", "Required Information again.")
        @{ Html.RenderPartial("ContactAndCompanyInfoPartial"); }
    </div>
    <div class="row borderedRow" id="CategoryListDiv">
        @{ Html.RenderPartial("CustomSolutionsPartial", model: Model); }
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <div style="margin: 0 auto; width: 200px;">
                <input type="submit" value="Continue" class="btn btn-primary" />
            </div>
        </div>
    </div>
        }