@model CustomSolutionsViewModel
@{
    ViewBag.Title = "Custom Solutions";
}
<script src="~/Scripts/CustomSolutions/index.js"></script>
@using (Html.BeginForm("Index", "CustomSolutions", FormMethod.Post, new { id = "CustomSolutionsIndexForm", @class = "row" }))
{
    <div class="row">
        <div class="col-xs-9 col-md-11">
            <h2>Job Analysis</h2>
        </div>
        <div class="col-xs-3 col-md-1">
            @Html.CollapseButton("jobAnalysisInstructionsDiv")
        </div>
    </div>
    <div class="row" id="jobAnalysisInstructionsDiv">
        @{
            Html.RenderPartial("FormInstructionsContentPartial");
        }
    </div>
    <br />

    <div class="row">
        <div class="col-xs-9 col-md-11">
            <h2>Required Information</h2>
        </div>
        <div class="col-xs-3 col-md-1">
            @Html.CollapseButton("contactAndCompanyInfoDiv")
        </div>
    </div>
    <div id="contactAndCompanyInfoDiv">
        @{
            Html.RenderPartial("ContactAndCompanyInfoPartial", Model);
        }
    </div>
    <br />

    <div class="row">
        <div class="col-xs-9 col-md-11">
            <h2>Choosing the Critical Scales</h2>
        </div>
        <div class="col-xs-3 col-md-1">
            @Html.CollapseButton("CategoryListDiv")
        </div>
    </div>
    <div class="row" id="CategoryListDiv">
        @Html.Partial("CustomSolutionsPartial", Model)
    </div>

    <div class="row" style="padding-top: 10px;">
        <div class="col-xs-10">
            @Html.ValidationSummary(true)
        </div>
        <div class="col-xs-2" style="padding-right: 0;">
            @Html.SubmitButton("Continue")
        </div>
    </div>
}