@*@model CustomSolutionsViewModel
@for (int i = 0; i < Model.Categories.Count; i++)
{
    string borderString = "borderedBottom";
    if ((i + 1) == Model.Categories.Count)
    {
        borderString = "";
    }
    <div class="row @(borderString)">
        <div class="col-xs-6 col-lg-2">
            @Model.Categories[i].Title
        </div>
        <div class="col-xs-6 col-lg-push-8 col-lg-2">
            @Html.CheckBoxFor(x => Model.Categories[i].IsInTopTwelve, new { @class = "newClientsCheckbox" }) @Html.LabelFor(x => Model.Categories[i].IsInTopTwelve, "Most Important", new Dictionary<string, object> { { "class", "checkboxLabelFor" } })
        </div>
        <div class="col-xs-12 col-lg-pull-2 col-lg-8">
            <span class="overflow">
                @Model.Categories[i].Description
            </span>
        </div>
        @Html.HiddenFor(x => Model.Categories[i].Title)
        @Html.HiddenFor(x => Model.Categories[i].Description)
        @Html.HiddenFor(x => Model.Categories[i].IsInTopTwelve)
        @Html.HiddenFor(x => Model.Categories[i].Importance)
    </div>
}*@