@model CustomSolutionsViewModel
@{
    ViewBag.Title = "Please select the most important categories";
}
@using (Html.BeginForm("TopTwelve", "CustomSolutions", FormMethod.Post))
{
    <div class="row borderedRow">
        <div class="col-xs-12 col-lg-4"><h3>Title</h3></div>
        <div class="col-xs-12 col-lg-6"><h3>Description</h3></div>
        <div class="col-xs-12 col-lg-2"><h3>Highest Importance</h3></div>
    </div>
    @Html.HiddenFor(x => x.CompanyName)
    @Html.HiddenFor(x => x.Contact.CellNumber)
    @Html.HiddenFor(x => x.Contact.OfficeNumber)
    @Html.HiddenFor(x => x.Contact.FirstName)
    @Html.HiddenFor(x => x.Contact.LastName)
    @Html.HiddenFor(x => x.Contact.Email)
    @Html.HiddenFor(x => x.Notes)
    @Html.HiddenFor(x => x.PositionsToFill)

    <div style="max-height: 70vh; overflow-y: scroll; overflow-x: hidden;">
        @{ Html.RenderPartial("MarkCategoryDtoAsTopTwelve", Model); }
    </div>
    <div class="row">
        <div class="col-xs-10">@Html.ValidationSummary(true)</div>
        <div class="col-xs-2" style="margin: 0 auto;">
            <input type="submit" class="btn btn-Primary" value="Finish" />
        </div>
    </div>
            }