@model CreateOrderViewModel
@{
    ViewBag.Title = "Order";
}
@using (Html.BeginForm("Index", "Order", FormMethod.Post))
{
    <div class="row divider" style="padding-bottom: 10px;">
        <div class="col-xs-12 col-lg-5">
            <div class="row">
                <div class="col-xs-9 col-md-11">
                    <h2>Company</h2>
                </div>
                <div class="col-xs-3 col-md-1">
                    @Html.CollapseButton("companyInfoDiv")
                </div>
            </div>
            <div class="row" id="companyInfoDiv">
                <div style="padding-bottom: 10px;">
                    @{
                        Html.RenderPartial("~/Views/Order/EditorTemplates/CompanyViewModel.cshtml", Model);
                    }
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-lg-7">
            <div class="row">
                <div class="col-xs-9 col-md-11">
                    <h2>Contacts</h2>
                </div>
                <div class="col-xs-3 col-md-1">
                    @Html.CollapseButton("contactsInfoDiv")
                </div>
            </div>
            <div class="row" id="contactsInfoDiv">
                <div style="padding-bottom: 10px;">
                    @{
                        Html.RenderPartial("Contacts", Model);
                    }
                </div>
            </div>
        </div>

    </div>
    <div class="divider" style="padding-top: 5px;">
        <div class="row">
            <div class="col-xs-9 col-md-11">
                <h2>Order Details</h2>
            </div>
            <div class="col-xs-3 col-md-1">
                @Html.CollapseButton("orderDetailsDiv")
            </div>
        </div>
        <div class="row" id="orderDetailsDiv">
            <div style="padding-bottom: 10px; clear: both;">
                @{
                    Html.RenderPartial("~/Views/Order/EditorTemplates/OrdersViewModel.cshtml", Model);
                }
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 10px; clear: both;">
        <div class="col-xs-12 col-lg-10">@Html.ValidationSummary(true)</div>
        <div class="col-xs-12 col-lg-2">
            @Html.SubmitButton("Place Order")
        </div>
    </div>
}
