@model NewClientsViewModel
@{
    ViewBag.Title = "Hire Right, with Hire Right";
}
@using (Html.BeginForm("SubmitNewClients", "Client", FormMethod.Post, new { style = "margin: 0; padding: 3px;" }))
{
    <div class="row">
        <div class="col-xs-12">
            <h2>Hire Right the first time</h2>
        </div>
        <div class="col-xs-12 col-lg-6">
            <p>Janet and Diana are very interested in your company and your needs. Schedule a free 30 minute consultation to discuss your specific needs, issues and frustrations. We will assist you in identifying the types of testing and solutions that will work best for you. Our menu includes both standardized testing, which often has norms for your roles and custom screening for positions. Our highly experienced consultants can assist you with many frustrating issues faced in today’s business world.</p>
        </div>
        <div class="col-xs-12 col-lg-6">
            <p>In addition to testing, we offer:</p>
            <ul>
                <li>Custom hiring solutions for any position</li>
                <li>Identification and resolution suggestions for issues leading to turnover</li>
                <li>Structured interviews</li>
                <li>Staff training</li>
                <li>Executive coaching and selection</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>What would you like to do? Check all that apply.</h4>
        </div>
        <div class="col-xs-6">
            @Html.CheckBoxFor(x => x.ToTalkToConsultant) Contact Us to talk with a Consultant <br />
            <div id="contactInfo" hidden="hidden" style="padding-left: 20px;">
                @Html.ActionLink("Get in Touch", "Contact", new { controller = "Contact" })<br />
                Diana: XXX-XXX-XXXX A@@b.c<br />
                Janet: XXX-XXX-XXXX A@@b.c
            </div>
        </div>
        <div class="col-xs-6">
            @Html.CheckBoxFor(x => x.ToScheduleDemo) Schedule a Demo
            <div id="demoInfo" hidden="hidden" style="padding-left: 20px;">
                Demo Info
            </div>
        </div>
        <div class="col-xs-6">
            @Html.CheckBoxFor(x => x.ToTakeSampleAssesment) Take a Sample Assesment
            <div id="assessmentInfo" hidden="hidden" style="padding-left: 20px;">
                Sample Assessment Info
            </div>
        </div>
        <div class="col-xs-6">
            @Html.CheckBoxFor(x => x.ToReceiveSample) Receive a Sample Report
            <div id="sampleReportInfo" hidden="hidden" style="padding-left: 20px;">
                Sample Report Info
            </div>
        </div>
    </div>
    <div id="contactInfoForm" hidden="hidden">
        <div class="row">
            <div class="col-xs-12">
                <h3>Details</h3>
                To help us service your needs, please provide us with the following information so that we can reply to your needs:
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-4">@Html.ValidatedEditorWithLabelFor(x => x.Name, true)</div>
            <div class="col-xs-12 col-lg-4">@Html.ValidatedEditorWithLabelFor(x => x.Email, true)</div>
            <div class="col-xs-12 col-lg-4">@Html.ValidatedEditorWithLabelFor(x => x.Phone, true)</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-4">@Html.ValidatedEditorWithLabelFor(x => x.Company, true)</div>
            <div class="col-xs-12 col-lg-4">@Html.ValidatedEditorWithLabelFor(x => x.CompanyPosition, true)</div>
            <div class="col-xs-12 col-lg-4"></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Additional Information (optional)</h2>
                @Html.TextAreaFor(x => Model.AdditionalInfo, new { style = "resize: none;", placeholder = "Anything else you'd like us to know?", rows = "5", cols = "150", @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-12">
                <div style="margin: 0 auto; width: 100px;">
                    <input type="submit" value="Send" class="btn btn-Primary" />
                </div>
            </div>
        </div>
    </div>
}
<script>
    function registerCheckboxHandler(checkbox, hiddenDiv) {
        $(checkbox).change(function () {
            $(hiddenDiv).toggle("hidden");
            registerFormDisplayHandler();
        });
    }

    function registerFormDisplayHandler() {
        var toTalkChecked = $("#ToTalkToConsultant").is(':checked');
        var toScheduleChecked = $("#ToScheduleDemo").is(':checked');
        var toTakeSampleChecked = $("#ToTakeSampleAssesment").is(':checked');
        var toReceiveSampleChecked = $("#ToReceiveSample").is(':checked');

        if (toTalkChecked === true ||
            toScheduleChecked === true ||
            toTakeSampleChecked === true ||
            toReceiveSampleChecked === true) {
            $('#contactInfoForm').show();
        } else {
            $('#contactInfoForm').hide();
        }
    }

    function wireCheckboxes() {
        registerCheckboxHandler("#ToTalkToConsultant", "#contactInfo");
        registerCheckboxHandler("#ToScheduleDemo", "#demoInfo");
        registerCheckboxHandler("#ToTakeSampleAssesment", "#assessmentInfo");
        registerCheckboxHandler("#ToReceiveSample", "#sampleReportInfo");
    }

    $(function () {
        wireCheckboxes();
    });
</script>