@model ContactUsViewModel
<div class="row">
    <div class="col-xs-12">
        <h2>How can we help you?</h2>
        @Html.ValidationSummary(true)
    </div>
</div>
<div class="row borderedRow">
    <div class="col-xs-12 col-md-6">
        @Html.ValidatedEditorWithLabelFor(x => Model.CompanyName, true)
    </div>
    <div class="col-xs-12 col-md-6">
        @Html.ValidatedEditorWithLabelFor(x => Model.PositionAtCompany, true)
    </div>
</div>
<div class="row borderedRow">
    <div class="col-xs-12 col-md-6">
        @Html.ValidatedEditorWithLabelFor(x => Model.FirstName, true)
    </div>
    <div class="col-xs-12 col-md-6">
        @Html.ValidatedEditorWithLabelFor(x => Model.LastName, true)
    </div>
    <div class="col-xs-12 col-md-4">
        @Html.ValidatedEditorWithLabelFor(x => Model.Email, true)
    </div>
    <div class="col-xs-12 col-md-4">
        @Html.ValidatedEditorWithLabelFor(x => Model.OfficePhone, true)
    </div>
    <div class="col-xs-12 col-md-4">
        @Html.ValidatedEditorWithLabelFor(x => Model.CellPhone, true)
    </div>
</div>
<div class="row borderedRow" style="padding-left: 15px; padding-right: 15px;">
    @Html.EditorFor(x => x.Address)
</div>
<div class="row borderedRow">
    <div class="col-xs-12">
        @Html.LabelFor(x => Model.Message)
        <br />
        @Html.TextAreaFor(x => Model.Message, new { @class = "form-control", style = "resize=none;", placeholder = "I would like help with...", required = true, rows = 12, cols = 200 })
        <br />
        @Html.ValidationMessageFor(x => Model.Message)
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-xs-12">
        <div style="margin: 0 auto; width: 200px;">
            <input type="submit" style="text-align: center;" value="Send" class="btn btn-primary" />
        </div>
    </div>
</div>