@model ContactUsViewModel
<div class="row">
    <div class="col-xs-12">
        <h2>How can we help you?</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        @Html.ValidatedEditorWithLabelFor(x => Model.CompanyName, true)
    </div>
    <div class="col-xs-12 col-md-6">
        @Html.ValidatedEditorWithLabelFor(x => Model.PositionAtCompany, true)
    </div>
</div>
<br/>
<div class="row">
    <div class="col-xs-12 col-md-6">
        @Html.ValidatedEditorWithLabelFor(x => Model.FirstName, true)
    </div>
    <div class="col-xs-12 col-md-6">
        @Html.ValidatedEditorWithLabelFor(x => Model.LastName, true)
    </div>
    <div class="col-xs-12 col-md-4">
        @Html.ValidatedEditorWithLabelFor(x => Model.Email, true)
    </div>
    <div class="col-xs-12 col-md-4">
        @Html.ValidatedEditorWithLabelFor(x => Model.OfficePhone, true)
    </div>
    <div class="col-xs-12 col-md-4">
        @Html.ValidatedEditorWithLabelFor(x => Model.CellPhone, true)
    </div>
</div>
<br />
<div>
    @Html.EditorFor(x => x.Address)
</div>
<br />
<div class="row">
    <div class="col-xs-12">
        @Html.LabelFor(x => Model.Message)
        <br />
        @Html.TextAreaFor(x => Model.Message, new { @class = "form-control", style = "resize: vertical; min-height: 90px; overflow-y: scroll; overflow-x: hidden;", placeholder = "I would like help with...", required = true, rows = 6, cols = 200 })
        <br />
        @Html.ValidationMessageFor(x => Model.Message)
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-xs-10">
        @Html.ValidationSummary(true)
    </div>
    <div class="col-xs-2">
        @Html.SubmitButton("Send")
    </div>
</div>