@{
    ViewBag.Title = "Sample Reports";
}

<div class="row">
    @Html.ProfileSampleDownloadListItem("Elite Care Profile", "EliteCareProfileSample")
    @Html.ProfileSampleDownloadListItem("Elite Character Profile", "EliteCharacterProfileSample")
    @Html.ProfileSampleDownloadListItem("Elite Healthcare Profile", "EliteHealthcareProfileSample")
    @Html.ProfileSampleDownloadListItem("Elite Industrial Profile", "EliteIndustrialProfileSample")
    @Html.ProfileSampleDownloadListItem("Elite Intellect Profile", "EliteIntellectProfileSample")
    @Html.ProfileSampleDownloadListItem("Elite Manager Profile", "EliteManagerProfileSample")
    @Html.ProfileSampleDownloadListItem("Elite Personality Profile", "ElitePersonalityProfileSample")
    @Html.ProfileSampleDownloadListItem("Elite Sales Profile", "EliteSalesProfileSample")
    @Html.ProfileSampleDownloadListItem("Elite Skills Profile", "EliteSkillsProfileSample")
    @Html.ProfileSampleDownloadListItem("Elite Transportation Profile", "EliteTransportationProfileSample")
    @Html.ProfileSampleDownloadListItem("EQ Profile", "EQProfileSample")
    @Html.ProfileSampleDownloadListItem("Mechanical Aptitude Test", "MechanicalAptitudeTestProfileSample")
    @Html.ProfileSampleDownloadListItem("Situational Judgement Test - Sales", "SituationalJudgementTestSalesSample")
    @Html.ProfileSampleDownloadListItem("Situational Judgement Test - Supervisor", "SituationalJudgementTestSupervisorSample")
    @Html.ProfileSampleDownloadListItem("Situational Judgement Test - Teams", "SituationalJudgementTestTeamsSample")
    @Html.ProfileSampleDownloadListItem("Workplace Aptitude Test", "WorkplaceAptitudeTestSample")
</div>