<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Hire Right, the first time! Hire Right Testing provides pre-employment testing targetted to your industry and specific positions in your business" />
    <meta name="keywords" content="Recruitment,Recruiting,Personnel,Hiring,Hire,Analysis,Consulting,Consultant,Consultants,Consultation" />
    <title>@ViewBag.Title - Hire Right Testing</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/scripts")
</head>
<body>
    @*<header>*@
    @{Html.RenderPartial("NavigationMenu");}
    @*</header>*@
    <div class="body-content container-fluid">
        @*<div>
                outside of a row
                <div class="row">
                    inside of a row
                </div>
                <div class="col-xs-12">
                    inside of a column without a row
                </div>
                <div class="row">
                    <div>inside of a row</div>
                    <div class="col-xs-12">
                        <div>inside of a column</div>
                    </div>
                </div>
            </div>*@
        <div class="col-xs-12">
            @*Some part of the body-content and/or container-fluid classes causes an effect similar to row
                (negative padding/margin) - using a col-xs-12 here to fix this.
                Uncomment the above example code to see exactly this behavior in the positioning of any other content on the screen.*@
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <br />
        <hr />
        <div class="pad-left-15 pad-right-15 pad-top-10 centered">
            <span>Hire Right Testing&trade;&nbsp;&copy; 2016 - @DateTime.Now.Year</span>&nbsp;<span class="pull-right">(330) 239-1646</span>
        </div>
    </div>
    <div id="processing" class="processingIcon">
        <div style="display: inline-block;">
            <span class="glyphicon glyphicon-hourglass spinner"></span>
            <h2 style="padding: 0; padding-top: 5px; margin: 0;">Loading...</h2>
        </div>
    </div>
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function ()
        {
            Collapsibles.bindCollapsibles();
        });
    </script>
</body>
</html>