<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed glyphicon glyphicon-menu-hamburger" data-toggle="collapse" data-target="#navbarLinks"></button>
            <a class="navbar-brand" href="/">Hire Right Testing</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarLinks">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("New Clients", "NewClients", "Client")</li>
                <li>@Html.ActionLink("Build a Custom Test", "Index", "CustomSolutions")</li>
                <li>@Html.ActionLink("Order Info", "About", "Order")</li>
                <li>@Html.ActionLink("Make a Purchase", "Index", "Order")</li>
                <li>@Html.ActionLink("Get in Touch", "Contact", "Contact")</li>
                <li>@Html.ActionLink("Reporting", "Index", "Reports")</li>
                <li>@Html.ActionLink("Sample Reports", "Samples", "Reports")</li>
            </ul>
        </div>
    </div>
</nav>