@model SectionWithTogglesAndTitleViewModel
<script src="~/Scripts/toggleDivsAndButtons.js"></script>
<style>
    .tooltip {
        position: relative;
        display: inline-block;
    }

        .tooltip .tooltiptext {
            visibility: hidden;
            background-color: black;
            color:;
        }
</style>
<div class="col-xs-12 row borderedRow" style="padding-bottom: 10px;">
    <div class="col-xs-12 panel panel-head">
        <div class="col-xs-11">
            <h2>@Model.TitleText</h2>
        </div>
        <div class="col-xs-1">
            <button type="button" class="btn btn-default glyphicon glyphicon-minus-sign tooltip-default" id="@Model.HideButtonId" style="margin-top: 15px;">
                <span class="tooltiptext">Collapse this section</span>
            </button>
            <button type="button" class="btn btn-default glyphicon glyphicon-plus-sign tooltip-default" id="@Model.ShowButtonId" style="display: none; margin-top: 15px;">
                <span class="tooltiptext">Expand this section</span>
            </button>
        </div>
    </div>
    <div class="col-xs-12" id="@Model.HiddenContentId" hidden="hidden">
        Press the <span class="glyphicon glyphicon-plus-sign"></span> to @Model.ActionText
    </div>
    <div class="col-xs-12" id="@Model.ShownContentId">
        @{ Html.RenderPartial(Model.ViewNameWithPath, Model.ViewModelForContentView); }
    </div>
</div>
<script>
    $(document).ready(function () {
        //This script will be loaded multiple times in some cases, which means that the selectors cannot be cached with a static name or there will be name collisions galore.
        $('#@Model.HideButtonId').click(function () {
            toggleDivsAndButtons($('#@Model.HideButtonId'), $('#@Model.ShowButtonId'), $("#@Model.HiddenContentId"), $("#@Model.ShownContentId"));
        });
        $('#@Model.ShowButtonId').click(function () {
            toggleDivsAndButtons($('#@Model.HideButtonId'), $('#@Model.ShowButtonId'), $("#@Model.HiddenContentId"), $("#@Model.ShownContentId"));
        });
    });
</script>